on:
  push:
    branches:
      - master

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  style_lint:
    name: Lint style
    runs-on: ubuntu-latest
    steps:
      - name: Don't 'import Mathlib', use precise imports
        if: always()
        run: |
          ! (find Carleson -name "*.lean" -type f -print0 | xargs -0 grep -E -n '^import Mathlib$')

  build_project:
    runs-on: ubuntu-latest
    name: Build project
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install elan
        run: curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- -y --default-toolchain none

      - name: Get cache
        run: ~/.elan/bin/lake exe cache get || true

      - name: check that Carleson.lean is up to date
        run: ~/.elan/bin/lake exe mk_all --check

      - name: Build project
        run: ~/.elan/bin/lake build Carleson

      - name: Lint project
        run: env LEAN_ABORT_ON_PANIC=1 ~/.elan/bin/lake exe runLinter Carleson

      - name: Upstreaming dashboard
        run: python3 scripts/upstreaming_dashboard.py

      - name: Generate the paper PDF and add it to the website
        uses: xu-cheng/texlive-action@475ab07999e9709e524c3708488c8c170d3a6611 # v3
        with:
          docker_image: ghcr.io/xu-cheng/texlive-full:20250401
          run: |
            cd paper
            latexmk -pdf main.tex
            latexmk -c
            cd ..
            cp paper/main.pdf docs/paper.pdf

      - uses: leanprover-community/docgen-action@deed0cdc44dd8e5de07a300773eb751d33e32fc8 # 2025-10-26
        with:
          blueprint: true
          homepage: docs
