on:
  push:
    branches:
      - master

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  style_lint:
    name: Lint style
    runs-on: ubuntu-latest
    steps:
      - name: Don't 'import Mathlib', use precise imports
        if: always()
        run: |
          ! (find Carleson -name "*.lean" -type f -print0 | xargs -0 grep -E -n '^import Mathlib$')

  build_project:
    runs-on: ubuntu-latest
    name: Build project
    steps:
      - name: Cleanup to free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: false
          haskell: false
          large-packages: false
          docker-images: false
          swap-storage: false

      - name: Checkout project
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Build and lint project
        uses: leanprover/lean-action@c544e89643240c6b398f14a431bcdc6309e36b3e # 2025-07-02
        with:
          build: true
          lint: true
          mk_all-check: true

      - name: Upstreaming dashboard
        run: python3 scripts/upstreaming_dashboard.py

      - name: Generate the paper PDF and add it to the website
        uses: xu-cheng/texlive-action@8268537fedf1198f3ed7000c544bfdbddcbae3b7 # v3
        with:
          docker_image: ghcr.io/xu-cheng/texlive-full:20251002
          run: |
            cd paper
            latexmk -pdf main.tex
            latexmk -c
            cd ..
            cp paper/main.pdf docs/paper.pdf

      - name: Compile blueprint and documentation
        uses: leanprover-community/docgen-action@3dbd3475a9bc8d22fd786a8f8efe1869457da7cc # 2025-01-15
        with:
          blueprint: true
          homepage: docs
